# 가상환경
.venv
venv/
.idea/
# cache
.sqllite3
.env
db.sqlite3
# *.txt
__pycache__/
raw_data/

# test
test/

# docs
docs/

# raw_data
data/point_ids.txt
data/temp_audio_raw_script.txt
data/url_list.txt
*.pem